.loader {
    position: relative;

    margin: 0 auto;

    width: 100px;
    height: 100px;

    background: conic-gradient(var(--white), var(--black));
    border-radius: 50%;
    animation: rotation 3s linear infinite;
}

.loader:before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;

    width: 80px;
    height: 80px;

    background-color: var(--white);
    border-radius: 50%;
}

.loader:after {
    content: '';
    position: absolute;
    right: 45%;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: var(--black);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}