.search {
    width: 100%;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search__field {
    position: relative;
    flex: 1;
    display: flex;
}

.search__field .search__icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.search__input {
    padding: 15px 30px 15px 50px;

    flex: 1;

    color: #252525;

    background-color: #dedede;
    border: none;
    border-radius: 5px;
}

.search__input::placeholder {
    color: #494949;
}

.search__submit {
    height: 45px;
    width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--black);
    border: none;
    border-radius: 5px;

    cursor: pointer;
}